<div class="row py-5 text-center justify-content-center tanbg">
    <div class="col-sm-3  px-4">
      <div class="bg-danger">
        <img src="" alt="picture of Ryan" width="100%" height="100%">
      </div>
      <h4 class="bb">
      Grabby introduction to staff or company
      </h4>
      <p>About company, Ryan, ethics, values etc...... </p>
      <a class="small" href="/">Return Home</a>
    </div>
</div>