<div class="row">
    <!--text slight left of center with custom background banner, possibly including telephone and mail picture  -->
    <p>Get in touch</p>
    <p>We would love to hear from you and discuss how we can help. Here's how you can reach us ....</p>
</div>
<div class="row">
    <div class="col-sm-3 px-4">
        left
    </div>
    <div class="col-sm-3 px-4">
        right
    </div>
</div>

<div class="row py-5 text-center justify-content-center tanbg">
    <div class="col-sm-3  px-4">
      <div class="bg-danger">
        <img src="/images/20mirad.png" width="100%" height="100%">
      </div>
      <h4 class="bb">
      Install new Hardware
      </h4>
      <p>We can do new fresh lock installs on wood or metal doors. 
        Upgrade your current doors to include standard or electronic deadbolts and more!</p>
      <a class="small" href="/services">READ MORE >></a>
    </div>
</div>