<!-- row1 -->
<div class="row pt-5 justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Install New" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Install new hardware</h3> 
    <ul class="text-start">
      <li>New Lock installation on wood and metal doors</li>
      <li>Deadbolt installation</li>
      <li>Electronic deadbolts including bluetooth and digital keypad</li>
      <li>Upgrade or modernize your current lock and hardware setup.</li>
    </ul>
  </div>
    
</div>

<!-- row 2-->
<div class="row pt-5 text-center justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Re-key" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Re-key existing locks</h3>
    <ul class="text-start">
      <li>Re-key your existing Locks at the fraction of the cost of a new Lock</li>
      <li>Re-keying locks when moving into a new home or when a key is lost will ensure secure access to your home. </li>
    </ul>
  </div>
  
</div>

<!-- row 3-->
<div class="row pt-5 text-center justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Key cutting and Duplication" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Key cutting and duplication</h3>
    <ul class="text-start">
      <li>Residential lock and deadbolt Keys</li>
      <li>Most Automotive Keys</li>
    </ul>
  </div>
  
</div>

<!-- row 4 -->
<div class="row pt-5 text-center justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Commercial" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Commercial</h3>
    <ul class="text-start">
      <li>High security hardware and pick resistant tumblers</li>
      <li>Commercial grade tumblers and pinning for added secutity to your home or buisness.</li>
    </ul>
  </div>
  
</div>

<!-- row 5 -->
<div class="row pt-5 text-center justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Residential services" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Residential services</h3>
      <ul class="text-start">
        <li>Residential lockouts</li>
        <li>New Hardware installation</li>
        <li>Duplicate Keys Cut</li>
      </ul>
  </div>
  
</div>

<!-- row 6-->
<div class="row pt-5 pb-5 text-center justify-content-center tanbg">
  <div class="col-sm-3 px-5">
    <img src="/images/rekey43.jpg" alt="Auto Services" width="100%" height="100%">
  </div>

  <div class="col-sm-5 px-5">
    <h3>Auto services</h3>
    <ul class="text-start">
      <li>Automotive Lockouts</li>
      <li>Emergency Lockout Services</li>
      <li>Duplicate Keys Cut</li>
    </ul>
  </div>
  
</div>


